body {
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 400;
}



.contest-wrapper {
    display: inline-block;
    margin-left: 100px;
}

.contest-description__wrapper {
    display: inline-block;
}

.contest-description__wrapper h2 {
    font-size: 27px;
    font-weight: 400;
    color: #b30068;
}





.form-container {
    padding: 20px;
    display: inline-block;
    margin-top: 35px;
}

.submit-button__container {
    display: inline-block;
}

.submit-button__container .submit-button {
    margin-left: 210px;
}

.form-group label {
    font-weight: 100;
}

.form-group .checkbox {
    margin-top: 3px;
}

